*{margin:0}

@font-face {
	font-family: "seguisb";
	src: url("media/seguisb.ttf");
}

body {
	background: url("media/bg.png");
	color: white;
	margin: auto 1em;
	font-family: "seguisb";
	font-size: 13px
}

#header {
	width: fit-content;
	margin: 5em auto 0;
	padding: 0.5em;
	box-sizing: border-box;
	
	border-style: solid;
	border-color: white;
	border-radius: 0.5em;
	
	text-align: center;
}
#header img {
	width: 10em;
	margin: auto;
}

#nav {
	width: fit-content;
	margin: 2.5em auto;
}
#nav * {
	text-align: center;

	padding: 0 0.5em;
	box-sizing: border-box;
	border-style: solid;
	border-color: #ffffff80;
	border-radius: 8px;
}
#footer {
	text-align: center;
	color: #ffffff80;
	font-style: italic;
}

a {
	color: #ffffff80;
	text-decoration: none;
}

#badge {
	display: block;
	width: fit-content;
	margin: 2.5em auto;
}

#content {
	max-width: 50em;
	margin: auto;
	padding: 1em;
	box-sizing: border-box;
	
	border-style: solid;
	border-color: white;
	border-radius: 0.5em;
}
#content p {
	margin: 0.5em 0;
}
#content table {
	width: fit-content;
	box-sizing: border-box;
	
	border-style: solid;
	border-color: #ffffff80;
	border-radius: 0.5em;
	border-spacing: 0;
}
#content td, th {
	border-style: none none solid;
	border-color: #ffffff80;
	padding: 0.5em;
}
#content tr:last-child > td, tr:last-child > th {
		border-style: none;
}