body {
	background: url(images/background.png);
}

.header {
  margin: 2.5em auto;
  width: fit-content;
  border: outset 0.125em;
  background: darkgrey;
}
.header * {
	vertical-align: middle;
	margin: 0.25em 0.5em;
}

.footer {
  margin: auto;
  width: fit-content;
  border: outset 0.125em;
  background: darkgrey;
}
.footer * {
	vertical-align: middle;
	margin: 0.25em;
}
