body {
	background: url(images/background.png);
	margin: 0px;
	font-size: 16px;
}

.header {
  margin: 48px auto;
  width: fit-content;
  border: outset 2px;
  background: darkgrey;
}
.header * {
	vertical-align: middle;
	margin: 4px 8px;
}

.footer {
  margin: auto;
  width: fit-content;
  border: outset 2px;
  background: darkgrey;
}
.footer * {
	vertical-align: middle;
	margin: 4px;
}
